
.questions-accordion .accordion-item {
  border: none;
  border-bottom: 1px solid var(--color-border);
}

.questions-accordion .accordion-button {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  padding: 1rem 0;
  font-size: 1.25rem;
  color: var(--color-text-dark);
}

.questions-accordion .toggle-text {
  display: none !important;
}

.questions-accordion .accordion-button::after {
  display: inline-block;
  color: var(--color-price-bg);
  font-size: 1rem;
}
